@charset "UTF-8";

/* Css para telas pequenas e celular (até 768px) */
/* Paleta de cores
Verde: #49A09D
Lilás: #5f2c82*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*isso faz com que a borda conte na largura */
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login >div#imagem {
    display: block;
    background:  url(../imagens/pexels-anni-roenkae-2832432\ \(1\).jpg);
    height: 200px;
    background-size: cover;
}
section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario >h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#formulario >p {
    font-size: 0.8em;
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5f2c82;
    color:white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color:  rgb(248, 105, 105);
}
form >a.botao {
    display: block;
    text-align: center;
    font-size:1em;
    width: 100%;
    height: 40px;
}
/* para deixar a caixa de login bem no meio da tela::after  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
-- Overflow: hidden = essa função faz com que tudo que esteja fora da borda do login no centro da tela fique escondido
-- Para fazer com que a imagem de pintura demore 0.3s para mudar de posição de tamanho de tela de celular pra tablet e fazer com que essa transição seja suave, usamos as configs abaixo:
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease; */